*{
    margin: 0%;
    box-sizing: border-box;
}
.home-section{
    border-right: 1px solid black;
    top: 0;
}
#slider-img{
    width:100%;
    object-fit: cover;
    border-radius: 10px;
    height: 300px;
}
.carousel-img{
    width: 100%;
}
.badge{
    width: 25px;
    /* border: 2px solid black; */
    height: 50px;
    background-color: #d02020 ;
}
.badge-section{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
    text-align: center;
    color: #d02020;
    font-weight: bold;
}
.timer{
    display: flex;
    /* border: 2px solid black; */
    width: 50%;
    justify-content: space-between;
    align-items: center;
}
.timer-inner{
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 0.2px;
    text-align: center;
}
.timer-inner>div>h3{
    font-weight: bold;
}
.timer-label{
    font-weight:bold;
    font-size: 12px;
}
.timer-span{
    font-weight: bold;
    color: #e76565;
    font-size: 30px;
}
.carrousel-btn{
    border-radius: 50%;
    border: none;
    font-size: 28px;
    margin-right: 10px;
}
#card-img{
    position: relative;
}
#wishlist{
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 15px;
    background-color: white;
    padding: 4px 8px;
    border-radius: 50%;
}
#eye{
    position: absolute;
    right: 8px;
    top:50px;
    font-size: 15px;
    background-color: white;
    padding: 4px 8px;
    border-radius: 50%;
}


/* src/HoverImage.css */
#hover-image-container {
    position: relative;
    display: inline-block;
  }
  
  .image {
    display: block;
  }
  
  .add-to-cart-button {
    position: absolute;
    top: 60%;
    /* left: 50%; */
    /* bottom: 0; */
    width: 100%;
    /* transform: translate(-50%, -50%); */
    display: none;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  #hover-image-container:hover .add-to-cart-button {
    display: block;
  }
  